%% -*-erlang-*-
{erl_opts, [debug_info]}.
{deps, [
        {ecli, {path, "../ecli"}},
        {mgmtd, {path, "../mgmtd"}},
        {eqwalizer_support,
          {git_subdir,
              "https://github.com/whatsapp/erlang-language-platform.git",
              {branch, "main"},
              "eqwalizer/eqwalizer_support"}}
       ]}.

{relx, [{release, { example, "0.1.0" },
         [
          sasl,
          example,
          ecli,
          mgmtd
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
