%% -*-erlang-*-
{erl_opts, [debug_info]}.
{deps, [
        {ecli, {git, "https://github.com/mgmtd/ecli.git", {branch, "master"}}},
        {mgmtd, {git, "https://github.com/mgmtd/mgmtd.git", {branch, "master"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.18.0"}}},
        {eqwalizer_support,
          {git_subdir,
              "https://github.com/whatsapp/erlang-language-platform.git",
              {branch, "main"},
              "eqwalizer/eqwalizer_support"}}
       ]}.

{project_plugins, [geas_rebar3]}.

{relx, [{release, { example, "0.1.0" },
         [
          sasl,
          example,
          ecli,
          mgmtd
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
